*.mp3
transcribe_clean1.py
transcribe_clean.py
transcript.txt
transcript_output.txt
.env
# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
venv/
env/
# 📂 Compiled, cache & system files
.DS_Store
Thumbs.db

# 🔄 Streamlit
.streamlit/

# 🧪 Temporary or backup files
*~ 
*.bak
*.tmp
*.swp
*.swo
